<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="consoleLogLevel" source="starbot.bilibili.log.console"/>
    <springProperty name="fileLogLevel" source="starbot.bilibili.log.file"/>

    <logger name="org.reflections.Reflections" level="OFF"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${consoleLogLevel}</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} --- [%clr(%20.20t)] %clr(%-40.40logger{39}){cyan} : %msg%n%ex
            </pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${fileLogLevel}</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM,aux}/starbot-bilibili-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%20.20t] %-40.40logger{39} : %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="AsyncRollingFile" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RollingFile"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="com.starlwr.bot" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AsyncRollingFile"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AsyncRollingFile"/>
    </root>

    <appender name="RawMessageAppender" class="com.starlwr.bot.bilibili.log.RawMessageLogFileAppender"/>

    <logger name="RawMessageLogger" level="DEBUG" additivity="false">
        <appender-ref ref="RawMessageAppender"/>
    </logger>

    <appender name="DynamicAppender" class="com.starlwr.bot.bilibili.log.DynamicLogFileAppender"/>

    <logger name="DynamicLogger" level="DEBUG" additivity="false">
        <appender-ref ref="DynamicAppender"/>
    </logger>
</configuration>